.font-title {
    color: #708395;
    font-size: 1.32em;
}
.font-boton {
    font-size: 0.7em;
}
.font-habilitar {
    font-size: 1.20em;
    color: #708395;
    font-weight: bold;
}
.font-title-primary {
    color: #708395;
    font-size: 1.32em;
}
.font {
    color: #708395;
}
.font-docs {
    color: #708395;
    font-size: 0.95em;
}
.carpeta {
    font-size: 4em;
    margin-top: -0.17em;
    margin-left: 0em;
}
.camara {
    font-size: 3em;
    margin-top: -0.15em;
    margin-left: 0.2em;
}