.title {
    color: #708395;
}
.title-bold {
    color: #708395;
    font-weight: bold;
}
.font-title-primary {
    color: #708395;
    font-size: 1em;
}
.font-sub-title-primary {
    color: #708395;
    font-size: 1em;
}
.col {
    border-style: solid;
    border-width: 0.1em;
    border-color: #b9c1c9;
}
.font-total {
    color: #708395;
    font-size: 0.8em;
}
