.font-title {
    color: #708395;
    font-size: 1.32em;
}
.font-title-primary {
    color: #708395;
    font-size: 1.32em;
}
.font {
    color: #708395;
}
.font2 {
    color: #708395;
    font-size: 1.5em;
}
.image {
    text-align: center;
    margin: 0 auto;
    position: relative;
    width: 40%;
}
.mapa {
    font-size: 2em;
    color: white;
}