<ion-header>
  <ion-toolbar>
    <ion-title class="title">Capacitación de comites</ion-title>
    <!--ion-buttons slot="start">
      <ion-menu-button autoHide="true" style="color: #708395;"></ion-menu-button>
    </ion-buttons-->
  </ion-toolbar>
</ion-header>

<ion-content padding>
  <form [formGroup]="agregarForm">
  <ion-grid>
    <ion-row>
      <ion-col class="font-title">
        <strong>Datos del integrante</strong> 
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col>
        <label style="color: red;">*</label><label  class="font-title">Nombre:</label>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col>
        <ion-input formControlName="nombreIntegrante" [(ngModel)]="nombreIntegrante" type="text" class="no-validation-line font-title"></ion-input>
      </ion-col>
    </ion-row><ion-row>
      <ion-col>
        <label style="color: red;">*</label><label  class="font-title">Edad (años cumplidos):</label>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col>
        <ion-input formControlName="edad" [(ngModel)]="edad" type="text" class="no-validation-line font-title"></ion-input>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col>
        <label style="color: red;">*</label><label  class="font-title">Domicilio:</label>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col>
        <ion-input formControlName="domicilio" type="text" [(ngModel)]="domicilio" class="no-validation-line font-title"></ion-input>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col>
        <label  class="font-title">Teléfono:</label>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col>
        <ion-input formControlName="telefono" type="text" [(ngModel)]="telefono" class="no-validation-line font-title"></ion-input>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col>
        <label style="color: red;">*</label><label  class="font-title">Cargo:</label>
      </ion-col>
    </ion-row>
    <ion-row *ngIf="cargo!=='Tesorero' && cargo!=='Vocal '">
      <ion-col>
        <ion-input formControlName="cargo" type="text" readonly [(ngModel)]="cargo" class="no-validation-line font-title"></ion-input>
      </ion-col>
    </ion-row>
    <ion-row *ngIf="cargo==='Tesorero' || cargo==='Vocal '">
      <ion-col class="font-title">
        <ion-select interface="popover" [value]="cargo" formControlName="cargo" [(ngModel)]="cargo" [selectedText]="cargo" (ionChange)=changeSelect(agregarForm.value)>
          <ion-select-option value="Vocal ">Vocal</ion-select-option>
          <ion-select-option value="Tesorero">Tesorero</ion-select-option>
        </ion-select>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col style="font-size: 0.9em; color: #708395;">
        <label style="color: red;">*</label>Material entregado
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col>
        <ion-radio-group formControlName='materialEntregado' [(ngModel)]="materialEntregado">
          <ion-item no-lines>
            <ion-label style="font-size: 0.9em; color: #708395;">Difusión</ion-label>
            <ion-radio slot="start" value="difusion" checked></ion-radio>
          </ion-item>
          <ion-item no-lines>
            <ion-label style="font-size: 0.9em; color: #708395;">Capacitación</ion-label>
            <ion-radio slot="start" value="capacitacion"></ion-radio>
          </ion-item>
        </ion-radio-group>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col style="font-size: 0.9em; color: #708395;">
        <label style="color: red;">*</label>Genero
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col>
        <ion-radio-group formControlName='genero' [(ngModel)]="genero" (ionChange)=changeRadio(agregarForm.value)>
          <ion-item>
            <ion-label style="font-size: 0.9em; color: #708395;">H</ion-label>
            <ion-radio slot="start" value="H" checked></ion-radio>
          </ion-item>
          <ion-item>
            <ion-label style="font-size: 0.9em; color: #708395;">M</ion-label>
            <ion-radio slot="start" value="M"></ion-radio>
          </ion-item>
        </ion-radio-group>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col>
        <label  class="font-title">CURP:</label>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col>
        <ion-input formControlName="curp" type="text" [(ngModel)]="curp" class="no-validation-line font-title"></ion-input>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col>
        <label  class="font-title">Correo:</label>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col>
        <ion-input formControlName="correo" type="text" [(ngModel)]="correo" class="no-validation-line font-title"></ion-input>
      </ion-col>
    </ion-row><br>
    <ion-row (click)="firmar()">
      <ion-col>
        <label style="color: red;">*</label><label  class="font-title">Firma:</label>
      </ion-col>
      <ion-col *ngIf="firma!=null" size="12" text-center class="col" >
          <img width="30%" style="transform:rotate(270deg); margin: -10%" [src]="firma"/>
      </ion-col>
      <ion-col *ngIf="firma==null" size="12" style="padding: 15%" text-center class="col" >
        <ion-label class="font-title"><i>Firmar</i></ion-label>
      </ion-col>
    </ion-row> 
    <ion-row>
      <ion-col>
        <ion-button float-right color="danger" (click)="regresar()">
          <label style="text-transform: none;">Cancelar</label>
        </ion-button>
        <ion-button float-right color="secondary" [disabled]="!agregarForm.valid || firma==null" (click)="guardar(agregarForm.value)">
          <label style="text-transform: none;">Guardar</label>
        </ion-button>
      </ion-col>
    </ion-row>
  </ion-grid>
  </form>
</ion-content>

